<p id="notice"><%= notice %></p>
<!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/images/avataars.svg" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">EDC Generador De Ideas</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </header>
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tendencias</h2>

<div class="container">
<%= link_to 'New Tendency', new_tendency_path, class: "btn btn-success" %>
<br><br>
<div class="row row-cols-2 row-cols-lg-5 g-3 g-lg-3 justify-content-center">
<% @tendencies.each do |tendency| %>
	<div class="col-md-6 col-lg-4 mb-5">
			<div class="card border-primary mb-3" style="width: 15rem; height: 20rem;">
			<div class="card-header">
				<h5 class="card-title"><%= tendency.nombre %></h5>
			</div>


				<div class="card-body">
				<%= link_to tags_path(tendency.nombre) do %>
					<%= image_tag url_for(tendency.cover_photo), class: "container" %>
				<% end %>
				<p class="card-text"><%= tendency.descripcion %></p>
				</div>

				<div class="card-footer bg-transparent border-primary">
					<%= link_to 'Editar', edit_tendency_path(tendency), class: "btn btn-warning"  %>
					<%= link_to 'Eliminar', tendency, method: :delete, data: { confirm: '¿Seguro que quieres eliminar esta tendencia?' },
					class: "btn btn-danger" %>
				</div>
			</div>
	</div>
	<% end %>

  <% @tendencies.each do |tendency| %>
  	<div class="col-md-6 col-lg-4 mb-5">
      <div class="contenedor">
		<h1>Concursantes</h1>
		<div class="concursantes">
			<canvas id="idcanvas" width="350" height="350">

			</canvas>
			<br>
			<div class="mark-winner"></div>
		</div>
	</div>

  <% name = tendency.nombre %>
      <script>
    name = <%= name%>;
alert(name);
prueba=
    [
      //'kamila Villablanca'-GANADORA
      'Daniela Caballero'
      ,'LeoGarcia01'
      ,'Gaspak'
      ,'Oxmar Yamith'
      ,'Mauro Toranzo'
      ,'Garcia Hernandez'
      ,'Zurita Ramirez'
      ,'Zurita Ramirez'
      ,'Salvador Caballero'
      ,'samp play'
    ];
myfunction(prueba);

myfunction(prueba);
function myfunction(array_concursantes){
    let canvas=document.getElementById("idcanvas");
    let context=canvas.getContext("2d");
    let center=canvas.width/2;

    context.beginPath();
    context.moveTo(center,center);
    context.arc(center,center,center,0, 2*Math.PI);
    context.lineTo(center,center);
    context.fillStyle ='#33333333';
    context.fill();

    context.beginPath();
    context.moveTo(center,center);
    context.arc(center,center,center-10,0, 2*Math.PI);
    context.lineTo(center,center);
    context.fillStyle ='black';
    context.fill();

    for (var i = 0; i < array_concursantes.length; i++) {
      context.beginPath();
      context.moveTo(center,center);
      context.arc(center,center,center-20,i*2*Math.PI/array_concursantes.length, (i+1)*2*Math.PI/array_concursantes.length);
      context.lineTo(center,center);
      context.fillStyle =random_color();
      context.fill();

      context.save();
      context.translate(center, center);
      context.rotate(3*2*Math.PI/(5*array_concursantes.length)+i*2*Math.PI/array_concursantes.length);
      context.translate(-center, -center);
      context.font = "13px Comic Sans MS";
      context.textAlign = "right";
      context.fillStyle = "white";
      context.fillText(array_concursantes[i], canvas.width-30, center);
      context.restore();
    }

    let pos_ini=0;
    let clic=0;
    let movement;
    }

function sortear(){
  if (clic==0) {
    let canvas=document.getElementById("idcanvas");
    movement=setInterval(function(){
      pos_ini+=10;
      canvas.style.transform='rotate('+pos_ini+'deg)';
    },10);
    clic=1;
    document.getElementById("idestado").innerHTML="Detener";
  }else{
    clearInterval(movement);
    clic=0;
    document.getElementById("idestado").innerHTML="Sortear";
  }
}

function random_color(){
  let ar_digit=['2','3','4','5','6','8','9'];
  let color='';
  let i=0;
  while(i<6){
    let pos=Math.round(Math.random()*(ar_digit.length-1));
    color=color+''+ar_digit[pos];
    i++;
  }
  return '#'+color;
}
</script>
  	</div>
  	<% end %>
	</div>
</div>
